/* CSS reset */

body {
    /*font-family: Vegur, 'PT Sans', Verdana, sans-serif !important;*/
    font-family: 'Montserrat', sans-serif !important;
}

.c-loader {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0px;
    display: none;
    z-index: 5;
}

.loader {
    width: 64px;
    height: 64px;
    margin: 0px auto;
    margin-top: 200px;
}

.c-login-col {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    background: url('../img/fondo-login.jpg') no-repeat center top;
    background-size: cover;
    background-position: center center;
}

.c-logo-login img {
    width: 100%;
    height: auto;
}

.space-login-1 {
    align-content: center;
}

.login {
    background: #fff;
    border-radius: 10px;
    padding-top: 50px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    font-size: 0.75rem;
    -webkit-box-shadow: 0 10px 20px 10px transparent;
    box-shadow: 0 10px 20px 10px transparent;
}

.login input {
    font-size: 0.75rem;
}

.login h3 {
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}

.color-guinda {
    background: #942231;
}

.btn-iniciar {
    border: none;
}

.btn-iniciar:hover {
    background: #781a26 !important;
}

.recuperar {
    color: #942231;
}

.recuperar:hover {
    color: #781a26;
}

.space-login-1 {
    background: url('../img/fondo.jpg');
}

.c-mensaje {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0px;
    z-index: 7;
    text-align: center;
    color: #fff;
    display: none;
}

.mensaje-verde {
    background: #239b56;
    color: #fff;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    top: 50%;
    border: 2px solid #fff;
}

.mensaje-amarillo {
    background: #d4ac0d;
    color: #fff;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    top: 50%;
    border: 2px solid #fff;
}

.mensaje-rojo {
    background: #c0392b;
    color: #fff;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    top: 50%;
    border: 2px solid #fff;
}

.c-form-recu {
    padding-top: 100px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0px;
    z-index: 4;
    text-align: center;
    color: #fff;
    display: none;
}

.form-recu {
    font-size: 0.75rem;
    width: 300px;
    height: auto;
    color: #000;
    background: #fff;
    border-radius: 10px;
    margin: 0px auto;
}

.form-recu input {
    font-size: 0.75rem;
}

.cerrar-form-recu {
    color: #942231;
    font-size: 0.75rem;
}

.btn-enviar-recu {
    border: none;
}

.btn-enviar-recu:hover {
    background: #781a26 !important;
}

.c-nav-usuario {
    /*background: url(../img/fondo.jpg) no-repeat;*/
    background-size: cover;
}

.encabezado {
    align-items: flex-end;
    text-align: center;
    margin-top: 10px;
}

.item-encabezado {
    width: 45px;
    height: 40px;
    list-style: none;
}

.item-encabezado a {
    border-radius: 50%;
}

.item-encabezado a img {
    width: 20px;
}

.c-estado-col {
    text-align: left !important;
    color: #fff;
    font-size: 0.75rem;
}

.item-estado-col-ok {
    width: 10px;
    height: 10px;
    background: #075e1b;
    text-align: left !important;
    margin: 5px;
    border-radius: 50%;
}

.item-estado-col-des {
    width: 10px;
    height: 10px;
    background: #dc3545;
    text-align: left !important;
    margin: 5px;
    border-radius: 50%;
}

.item-estado-col-desa {
    width: 10px;
    height: 10px;
    background: #878787;
    text-align: left !important;
    margin: 5px;
    border-radius: 50%;
}

.c-nombre-col {
    align-items: center;
    text-align: center;
}

.c-img-user {
    width: 100px !important;
    height: 100px !important;
    padding: 0px !important;
    overflow: hidden;
    background: gray;
    border-radius: 50%;
    cursor: pointer;
}

.noti {
    border: 3px solid #1c8adb;
}

.c-img-user img {
    width: 100%;
    height: auto;
}

.nombre-usuario {
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}

.item-menu a {
    color: #000 !important;
    font-weight: bold;
    border-radius: 0px !important;
    background: #d1d1d1;
}

.item-menu-active a {
    color: #000 !important;
    font-weight: bold;
    background: #fff;
    border-radius: 0px !important;
}

.item-menu img {
    width: 25px;
    height: 25px;
}

.item-menu-active img {
    width: 25px;
    height: 25px;
}

.item-menu p {
    margin-bottom: 0px !important;
    margin-left: 5px;
}

.item-menu-active p {
    margin-bottom: 0px !important;
    margin-left: 5px;
}

.m-danger {
    font-size: .75rem;
}

.c-fecha-inicio {
    font-size: .75rem;
}

.c-fecha-inicio1 {
    font-size: .75rem;
}

.c-fecha-inicio input {
    background: transparent !important;
}

.c-fecha-inicio1 input {
    background: transparent !important;
}

.c-fecha-fin {
    font-size: .75rem;
}

.c-fecha-fin1 {
    font-size: .75rem;
}

.c-fecha-fin input {
    background: transparent !important;
}

.c-fecha-fin1 input {
    background: transparent !important;
}

.c-total-pago {
    background: #f0f0f0;
}

.c-t-pagar {
    background: #dc3545;
    font-weight: bold;
}

.c-t-pagar1 {
    background: #dc3545;
    font-weight: bold;
}

.etiq-total {
    color: #fff;
    font-size: 1.2rem !important;
}

.c-total-pago1 {
    background: transparent !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.c-total-pago11 {
    background: transparent !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.c-total-pago label {
    font-size: .75rem;
}

.btn-guardar-pago {
    font-size: .75rem;
    border-radius: 0px !important;
}

.btn-guardar-pago-total-culqi {
    font-size: .75rem;
    border-radius: 0px !important;
}

.btn-emergencia {
    font-size: .75rem;
    border-radius: 0px !important;
}

.btn-emergencia1 {
    font-size: .75rem;
    border-radius: 0px !important;
}

.btn-emergencia2 {
    font-size: .75rem;
    border-radius: 0px !important;
}

.c-cuentas-banc {
    border-left: 1px solid #000;
    font-size: .75rem;
}

.c-cerrar {
    background: #ef0202;
    padding: 5px !important;
    margin: 5px;
    border-radius: 5px;
}

.c-mensajes {
    background: #942231;
    padding: 5px !important;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.cuotas {
    background: #e9e9e9;
    border-radius: 5px;
    margin: 5px;
    overflow: hidden;
}

.c-year-select {
    font-size: .75rem;
    margin-top: 30px;
    background: #f0f0f0;
}

.etiq_sel_year {
    text-align: end;
    justify-content: center;
    font-size: 1rem !important;
}

#id_year {
    text-align: center;
}

.grupo-cuota {
    background: #fff;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 15px 5px #DBDBDB;
    box-shadow: 0 0 15px 5px #DBDBDB;
}

.grupo-cuota h4 {
    background: gray;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
}

.item-cuota {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #d4ac0d;
    margin: 0px auto;
}

.item-cuota-atrazada {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #dc3545;
    margin: 0px auto;
}

.item-cuota-check {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #28a745;
    margin: 0px auto;
}

.item-cuota-ref {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #a5a5a5;
    margin: 0px auto;
}

.form-subir-comp {
    background: #fff;
}

.li-cuota {
    display: none;
}

.det-item-cuota {
    margin: 5px;
    border-radius: 5px;
    font-size: 0.75rem;
    display: none;
}

.det-item-cuota label {
    font-weight: bold;
}

.det-item-cuota p {
    font-style: italic;
}

.det-item-cuota button {
    border: none;
    font-size: 0.75rem;
}

.det-item-cuota input {
    font-size: 0.75rem;
}

.btn-save-boucher {
    background: #942231;
}

.btn-save-boucher:hover {
    background: #52121b;
}

.vista-previa {
    width: 100px;
    cursor: pointer;
}

.vista-previa img {
    width: 100%;
    height: auto;
}

.vista-previa-foto {
    width: 100%;
    overflow: hidden;
}

.vista-previa-foto img {
    width: 100%;
    height: auto;
}

.etiq-aportacion {
    padding: 5px;
    font-style: italic;
    color: #fff;
    background: #876e09;
    border-radius: 5px;
    cursor: pointer;
}

.etiq-aportacion-check {
    padding: 5px;
    font-style: italic;
    color: #fff;
    background: #075e1b;
    border-radius: 5px;
    cursor: pointer;
}

.etiq-aportacion-atrazada {
    padding: 5px;
    font-style: italic;
    color: #fff;
    background: #6c0f18;
    border-radius: 5px;
    cursor: pointer;
}

.etiq-aportacion-ref {
    padding: 5px;
    font-style: italic;
    color: #fff;
    background: #878787;
    border-radius: 5px;
    cursor: pointer;
}

.no-permit {
    color: #fff;
    padding: 5px;
}

.vista-modal-boucher {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, .5);
    display: none;
    z-index: 5;
}

.modal-img {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0px auto;
}

.modal-img img {
    width: 100%;
    height: auto;
}

.modal-img form {
    margin: 0px auto;
}

.cerrar-mod-img {
    color: #d1d1d1;
    font-size: 2rem;
    cursor: pointer;
    margin-bottom: 0px !important;
    text-align: right;
    padding-right: 0px !important;
}

.c-adelanto {
    background: #e6e6e6;
    margin: 0px auto;
    border-radius: 5px;
    font-size: 1.5rem !important;
    -webkit-box-shadow: 0 0 15px 5px #e9e9e9;
    box-shadow: 0 0 15px 5px #e9e9e9;
}

.c-modal-adelanto {
    top: 0px;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, .5);
    z-index: 2;
    padding: 10px;
    display: none;
}

.form-modal-adelanto {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.c-modal-comunicado {
    top: 0px;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, .5);
    z-index: 5;
    padding: 10px;
}

.italic {
    font-style: italic;
    font-weight: bold;
}

.form-modal-comunicado {
    font-size: .75rem;
    width: 350px;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 0px auto;
    margin-top: 100px;
}

.form-modal-comunicado button {
    font-size: .75rem;
    text-align: center;
}

input[type="radio"] {
    display: none;
}

.label-filtro {
    color: #fff;
    background: #942231;
    padding: 5px 10px 5px 30px;
    display: inline-block;
    position: relative;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.label-filtro:hover {
    background: #4e1119;
}

.label-filtro:before {
    content: "";
    width: 15px;
    height: 15px;
    background: #fff;
    display: inline-block;
    border: 2px solid;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 7px;
}

input[type="radio"]:checked+.label-filtro:before {
    background: none;
}

input[type="radio"]:checked+.label-filtro {
    background: #4e1119;
}

.c-resultado-total {
    background: #dbdbdb;
}

.btn-adjuntar-comp {
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.comp-atra {
    margin: 0px auto;
}

.table-cuotas-ref {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px !important;
    font-size: .75rem !important;
}

.table-cuotas-ref thead {
    background: #781a26;
    color: #fff;
    font-size: 1rem;
}

.table-cuotas-ref tbody {
    background: #f0f0f0;
}

.table-cuotas {
    font-size: .75rem !important;
}

.table-cuotas thead {
    background: #781a26;
    color: #fff;
    font-size: 1rem;
}

.table-cuotas tbody {
    background: #f0f0f0;
}

.c-nombres {
    align-items: center;
    justify-content: center;
}

.ver-comprobante {
    font-size: .75rem !important;
}

.form-group label {
    font-size: .75rem;
}

.form-group input {
    font-size: .75rem !important;
    height: 30px;
}

.form-group select {
    font-size: .75rem !important;
    height: 30px;
}

.btn-save-config {
    font-size: .75rem !important;
}

.mensaje-sin-cuotas {
    color: gray !important;
    font-size: 1rem !important;
    text-align: center !important;
}

.list-cuotas {
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
}

.mes-ref-pago {
    display: block !important;
}

#total_cuotas_id {
    font-weight: bold;
}

#total_pag_reg_id {
    font-weight: bold;
}

.label-filtro-checkbox-pago:hover {
    background: gray;
}

.label-filtro-checkbox-pago {
    color: #000;
    background: #e6e6e6;
    padding: 5px 10px 5px 30px;
    display: inline-block;
    position: relative;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.label-filtro-checkbox-pago:before {
    content: "";
    width: 15px;
    height: 15px;
    background: #fff;
    display: inline-block;
    border: 2px solid;
    border-radius: 5px;
    position: absolute;
    left: 10px;
    top: 7px;
}

input[type="radio"]:checked+.label-filtro:before {
    background: none;
}

input[type="radio"]:checked+.label-filtro {
    background: gray;
}

input[type="checkbox"]:checked+.label-filtro-checkbox-pago:before {
    background: #000;
}

input[type="checkbox"]:checked+.label-filtro-checkbox-pago {
    background: #e6e6e6;
}

input[type="checkbox"] {
    display: none;
}

#monto-total-id {
    font-size: 1.5rem !important;
    font-weight: bold;
}

.c-cuotas {
    margin-right: 0px !important;
}

.c-cuotas-desc ul {
    background: #f0f0f0;
}

.c-cuotas-desc ul li {
    list-style: none;
}

.cantidad-cuota-actual {
    display: none;
}

.c-ico-noti {
    width: 30px;
    height: auto;
    display: none;
    position: absolute !important;
}

.c-ico-noti img {
    width: 100%;
    height: auto;
}

.modal-noti {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    background: rgba(0, 0, 0, .5);
    overflow-x: hidden;
    overflow-y: auto;
}

.c-modal-noti {
    background: #fff;
    border-radius: 0px;
    /*margin-left: 15% !important;*/
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin: 0px auto;
    margin-top: 5% !important;
    font-size: 0.75rem !important;
    overflow-x: hidden;
    overflow-y: auto;
}


/* estilos notificaciones*/

.btn-nueva-noti {
    font-size: .75rem !important;
}

.c-lista-noti {
    border-radius: 10px;
    background: #f0f0f0;
}

.modal-noti {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    background: rgba(0, 0, 0, .5);
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 5;
}

.c-modal-noti {
    background: #fff;
    margin-top: 5% !important;
    font-size: 0.75rem !important;
}

.form-control {
    font-size: .75rem !important;
}

.input-file-noti {
    background: gray;
    color: #fff !important;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}

.btn-size {
    font-size: .75rem;
}

#url_notificacion {
    display: none;
}

#vista-file-noti {
    background: #28a745 !important;
    border-radius: 10px !important;
    color: #fff !important;
}

.item-lista-noti {
    list-style: none;
    border-radius: 10px;
    border: solid 1px #e9e9e9;
    background: #fff;
}

.tit-noti img {
    width: 30px;
    height: auto;
    margin: 10px;
}

.tit-noti {
    font-size: 1rem !important;
    font-weight: bold;
}

.desc-noti {
    font-size: .75rem;
    text-align: justify;
}

.fecha-noti {
    width: 200px;
    text-align: center;
    font-size: .9rem !important;
    margin-top: 5px;
    color: #979a9a !important;
    border-radius: 5px;
}

.archivo-adjunto {
    margin-left: 10px;
    padding: 5px 15px;
    background: #a88ffe;
    border-radius: 15px;
    text-decoration: none;
    color: #fff;
    font-size: .75rem;
}

.archivo-adjunto:hover {
    text-decoration: none;
    color: #fff;
}

.btn-del-noti {
    cursor: pointer;
    font-size: .75rem !important;
}

.modal-noti-confirm {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, .5);
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
}

.c-modal-noti-confirm {
    background: #fff;
    border-radius: 10px;
    margin-left: 15% !important;
    margin-top: 5% !important;
    font-size: 0.75rem !important;
}

.aceptar-del-noti {
    font-size: .75rem;
}

.btn-cerrar-confir-noti {
    font-size: .75rem;
}

.btn-salir-noti {
    color: #d1d1d1;
    font-size: 2rem;
    cursor: pointer;
    margin-bottom: 0px !important;
    text-align: right;
    padding-right: 0px !important;
}

.btn-salir-boucher {
    color: #d1d1d1;
    font-size: 1rem;
    cursor: pointer;
}

.btn-salir-buzon {
    color: #d1d1d1;
    /*font-size: 1rem;*/
    cursor: pointer;
}

.estado-noti {
    width: 100px;
    text-align: center;
    background: #1c8adb;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: .75rem;
}

.tag-buzon {
    list-style: none;
    border-bottom: 1px solid #e6e6e6;
    font-size: .75rem;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.tag-buzon li {
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.item-tag-li-entrada {
    background: #007bff !important;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.item-tag-li-salida {
    background: #e6e6e6 !important;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.modal-buzon {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    background: rgba(0, 0, 0, .5);
    overflow-x: hidden;
    overflow-y: auto;
}

.c-modal-buzon {
    background: #fff;
    border-radius: 10px;
    margin-left: 15% !important;
    margin-top: 5% !important;
    font-size: 0.75rem !important;
}

#c-form-mensaje-id {
    min-height: 500px;
}

.list-buzon {
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}

.item-li-buzon {
    list-style: none;
    cursor: pointer;
    align-items: center;
    display: flex;
}

.item-li-buzon:hover {
    background: #e6e6e6;
}

.item-li-buzon-active {
    list-style: none;
    font-size: .75rem;
    cursor: pointer;
    align-items: center;
    display: flex;
    background: #e6e6e6;
}

.item-li-buzon p {
    margin-bottom: 0px;
}

.item-li-buzon label {
    margin-top: 0px;
}

.item-li-buzon-active p {
    margin-bottom: 0px;
}

.item-li-buzon-active label {
    margin-top: 0px;
}

.ico-estado-buzon {
    width: 10px;
    height: 10px;
    background: #007bff;
    border-radius: 50%;
    margin: 10px 10px 10px 10px;
}

.ico-estado-buzon-leido {
    width: 10px;
    height: 10px;
    background: gray;
    border-radius: 50%;
    margin: 10px 10px 10px 10px;
}

.groupo-inbox {
    font-size: .75rem;
    padding-bottom: 5px;
}

.groupo-inbox label {
    background: #a5a5a5;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    margin-bottom: 0px;
}

.c-lista-destino {
    display: flex !important;
    flex-wrap: wrap;
    align-content: stretch !important;
}

.correo-destino {
    border: 1px solid #878787;
    padding: 5px;
    margin: 3px;
    border-radius: 5px;
}

.buscar-correo {
    width: 100%;
    font-size: .75rem !important;
}

.buscar-correo span {
    font-size: .75rem !important;
}

.textarea-email {
    min-height: 200px;
}

.correo-destino a {
    color: gray !important;
    cursor: pointer;
    padding: 2px;
}

.correo-destino a:hover {
    color: #000;
}

.btn-nueva-mensaje {
    font-size: .75rem;
}

.mensaje-form-vacio {
    margin-top: 20%;
    font-size: 1.5rem;
    color: gray;
}

.select-tag-buzon {
    margin-top: 7px;
    font-size: .75rem;
}

.btn-enviar-mensaje {
    font-size: .75rem;
}

.mensajes-nuevos {
    color: #fff;
    transition: .3s;
    margin: 5px;
    padding: 10px;
    font-size: 0.75rem;
    background: #1c8adb !important;
    text-decoration: none;
}

.titulo-vista {
    /*font-size: 1.5rem;
    font-weight: bold;
    color: #dc3545;
    border-bottom: 1px solid gray;*/
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    color: #fff;
    text-align: left !important;
    padding-bottom: 0px;
    padding-top: 10px;
}

.titulo-vista1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #dc3545;
    border-bottom: 1px solid gray;
}

.titulo-vista h4 {}

.c-tag-conceptos {
    text-align: center;
}

.c-tag-conceptos1 {
    text-align: center;
}

input[name="tag-conceptos"] {
    display: block !important;
}

#list-conceptos-id2 {
    display: none;
}

.class_comprobante_adel {
    display: none;
}

.label_comprobante_adel {
    background: #239b56;
    color: #fff !important;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.cont-adelanto-ref {
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
}

.c-fecha-inicio {
    width: 100%;
    background: #a0a0a0 !important;
    color: #000;
    font-weight: bold;
    text-align: center;
}

.cerrar-lista {
    cursor: pointer;
    color: #007bff;
}

.c-lista-c-atrazadas {
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 85%;
    display: none;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;
}

.c-lista-c-atrazadas label {
    color: #000 !important;
}

.mensaje-refin {
    margin: 0px auto;
}

.monto-total-adeudado {
    width: 200px;
    margin: 0px auto;
}

.table-det-refin {
    border: 1px solid #a0a0a0;
}

.table-det-refin tr {
    border: 2px solid #a0a0a0;
    background: #bababa;
}

.table-det-refin th {
    background: #a0a0a0;
    font-size: .75rem;
    text-align: end;
}

.btn-ver-cuotas-atra {
    color: #fff;
    cursor: pointer;
    background: #0eb0e0;
}

.c-moto-pago {
    border: 1px solid gray;
    border-radius: 10px;
}

.order-nombre {
    cursor: pointer;
}

.order-cantidad {
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

.list-conceptos {
    min-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

.item-list-concepto {
    font-size: .75rem;
}

.btn-add-con {
    text-align: center;
    background: #007bff;
    width: 20px !important;
    height: 20px !important;
    cursor: pointer;
    color: #fff !important;
    margin: 2px;
}

.item-obligaorio {
    background: #6cf3a6;
    border-radius: 5px;
    margin: 1px;
    padding: 2px;
}

.item-opcional {
    background: #e6e6e6;
    border-radius: 5px;
    margin: 1px;
    padding: 2px;
}

.nom-list-concepto:hover {
    background: gray;
}

.img-boucher {
    width: 150px;
    height: 150px;
    margin: 0px auto;
}

.img-boucher img {
    width: 100%;
    height: auto;
}

.c-img-comprobante {
    height: 30%;
}

.c-lista-comprobante {
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.c-lista-comprobante1 {
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.total-comprobante {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
}

.total-comprobante1 {
    color: #fff;
}

.btn-gen-ref {
    border-radius: 0px;
    font-size: .75rem;
}

.btn-culqi-ref {
    border-radius: 0px;
    font-size: .75rem;
}

#lista-items-pago {
    font-size: .70rem;
}

.input-nro-items {
    width: 50px !important;
    height: 100% !important;
    text-align: center;
}

#lista-items-pago p {
    text-align: center !important;
}

.input-item-meses {
    padding-top: 8px;
    padding-bottom: 7px;
}

.btn-del-item-pago {
    width: 20px !important;
}

.c-tag-conceptos {
    text-align: center;
}

input[name="tag-conceptos"] {
    display: block !important;
}

#list-conceptos-id2 {
    display: none;
}

.can-cuota-ref {
    background: #ab2738;
    color: #fff;
    border-radius: 5px;
}

.class_comprobante_adel {
    display: none;
}

.label_comprobante_adel {
    background: #239b56;
    color: #fff !important;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.c-fecha-inicio {
    width: 100%;
    background: #a0a0a0 !important;
    color: #000;
    font-weight: bold;
    text-align: center;
}

.c-moto-pago {
    border: 1px solid gray;
    border-radius: 10px;
}

.order-nombre {
    cursor: pointer;
}

.order-cantidad {
    cursor: pointer;
}

.m-sin-registros {
    font-size: .75rem;
    color: gray;
}

.label-filtro-checkbox:hover {
    background: gray;
}

.label-filtro-checkbox {
    color: #000;
    background: #e6e6e6;
    padding: 5px 10px 5px 30px;
    display: inline-block;
    position: relative;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.label-filtro-checkbox:before {
    content: "";
    width: 15px;
    height: 15px;
    background: #fff;
    display: inline-block;
    border: 2px solid;
    border-radius: 5px;
    position: absolute;
    left: 10px;
    top: 7px;
}

.bloque1-buzon {
    min-height: 250px;
    background: #ebebeb;
}

input[type="checkbox"]:checked+.label-filtro-checkbox:before {
    background: #000;
}

input[type="checkbox"]:checked+.label-filtro-checkbox {
    background: #e6e6e6;
}

.label-filtro-checkbox-pago:hover {
    background: gray;
}

.label-filtro-checkbox-pago {
    color: #000;
    background: #e6e6e6;
    padding: 5px 10px 5px 30px;
    display: inline-block;
    position: relative;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.label-filtro-checkbox-pago:before {
    content: "";
    width: 15px;
    height: 15px;
    background: #fff;
    display: inline-block;
    border: 2px solid;
    border-radius: 5px;
    position: absolute;
    left: 10px;
    top: 7px;
}

.etiq-cargo {
    color: #727272;
}

.c-origen {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: #bababa 1px solid;
    border-bottom: #bababa 1px solid;
}

.asunto {
    color: #11549f;
    font-weight: bold;
}

.item-asunto {
    color: #11549f;
    font-weight: 600;
}

input[type="radio"]:checked+.label-filtro:before {
    background: none;
}

input[type="radio"]:checked+.label-filtro {
    background: gray;
}

input[type="checkbox"]:checked+.label-filtro-checkbox-pago:before {
    background: #000;
}

input[type="checkbox"]:checked+.label-filtro-checkbox-pago {
    background: #e6e6e6;
}

.c-form-crear-ref input {
    font-size: .75rem;
    height: 30px;
}

.cerrar-mpago {
    cursor: pointer;
}

.c-certificados h3 {
    font-size: 1rem;
}

.lista-cert {
    font-size: .75rem !important;
}

.item-cert {
    list-style: none;
    margin-left: 10px;
    padding: 5px 15px;
    background: #a88ffe;
    border-radius: 15px;
    text-decoration: none;
    color: #fff;
    font-size: .75rem;
}

.item-cert a {
    width: 100%;
    text-decoration: none !important;
    color: #fff;
}

.btn-guardar-pago1 {
    font-size: .75rem;
}

.c-modal-img-boucher {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, .5);
    display: none;
    z-index: 5;
}

.c-img-boucher-pago {
    margin: 0px auto;
    background: #fff;
}

.btn-modal-img-boucher {
    font-size: .75rem;
    border-radius: 0px !important;
}

.nro_cta {
    font-size: 1.5rem !important;
    width: 100%;
    text-align: center;
}

.c-titulo {
    background: #dc3545;
}

.c-menu-vertical {}

.menu-vertical {
    height: 100vh;
    list-style: none;
    color: #fff;
}


/*ESTILOS DEL MENU*/

#sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #942231;
    left: -300px;
    transition: all 100ms linear;
    z-index: 5;
}

#sidebar.active {
    left: 0px;
}

@media screen and (max-width: 991px) {
    #sidebar {
        position: fixed;
        width: 300px;
        height: 100%;
        background: #942231;
        left: 0px;
        transition: all 100ms linear;
        z-index: 5;
    }
    #sidebar.active {
        left: -300px;
    }
}

.c-list-menu-v {
    margin-top: 20px;
}

#sidebar ul li {
    width: 85%;
    color: rgba(230, 230, 230, 0.9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
    font-size: 10pt;
}

#sidebar ul li:hover {
    width: 85%;
    cursor: pointer;
    color: #f99d02;
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
    background: #4e1119;
}

#sidebar .toggle-btn {
    position: absolute;
    left: 300px;
    top: 0px;
}

#sidebar .toggle-btn span {
    display: block;
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 5px 0px;
}

.toggle-btn {
    width: 60px;
    height: 60px;
    background-color: #4e1119;
    padding: 15px;
}

.toggle-btn:hover {
    background-color: #4e1119;
    cursor: pointer;
}

.c-barra-horizontal {
    position: fixed;
    height: 60px;
    background: #4e1119;
    justify-content: flex-end;
    align-items: center;
    z-index: 5;
}

.c-barra-horizontal>.item-bar-hor {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.barra-horizontal {
    height: 60px;
    justify-content: flex-end;
}

.bar-h-bloque1 {
    align-items: center;
    height: 60px;
    margin-right: 10px!important;
}

.mensaje-atrazo {
    background: #f94348;
    color: pink;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    border: 3px solid pink;
    font-size: 1.2rem;
}

.aviso-cuota-pendiente {
    height: 100%;
    background: rgba(0, 0, 0, .7);
    position: absolute;
    z-index: 5;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    padding-top: 50px;
}

.aviso-cuota-pendiente {
    width: 100%;
}

.aviso-cuota-pendiente h5 {
    padding: 10px;
}

.aviso-cuota-pendiente img {
    width: 150px;
    height: auto;
}


/*----------*/

.justify-content-center {
    justify-content: center!important;
    padding: 1px 10%;
    margin-top: 90px;
}

.img-tarjetas {
    width: 100%;
    height: auto;
}

.c-mensaje-tarjetas h4 {
    color: #11549f;
    font-weight: bold;
    text-align: center;
}

.mensje-tarjetas h6 {
    text-decoration-line: underline;
}

.mensje-tarjetas li {
    list-style: none;
    margin-left: 20px;
}

.mensaje-pagos p,
label {
    font-size: .75rem !important;
}

.c-link-otros {
    background: #1c8adb;
    color: #fff;
    padding: 3px;
    border-radius: 5px;
    text-decoration: none !important;
    margin-left: 15px;
    margin-right: 15px;
}

.c-link-otros a {
    text-decoration: none !important;
    color: #fff;
}

.c-link-otros1 {
    background: #1c8adb;
    color: #fff;
    padding: 3px;
    border-radius: 5px;
    text-decoration: none !important;
    margin-left: 15px;
    margin-right: 15px;
}

.c-link-otros1 a {
    text-decoration: none !important;
    color: #fff;
}

.item-politica {
    background: #d4ac0d !important;
    color: #fff !important;
}

.item-doc-ref {
    list-style: none;
    margin-left: 10px;
    padding: 5px 15px;
    background: #52121b;
    border-radius: 15px;
    text-decoration: none;
    color: #fff;
    font-size: .75rem;
}

.item-doc-ref a {
    width: 100%;
    text-decoration: none !important;
    color: #fff;
}

.c-modal-pago {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    background: rgba(0, 0, 0, .5);
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 99;
}

.modal-pago {
    background: #fff;
    border-radius: 0px;
    /*margin-left: 15% !important;*/
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin: 0px auto;
    /*margin-top: 5% !important;*/
    font-size: 0.75rem !important;
    overflow-x: hidden;
    overflow-y: auto;
}

.cerrar-pago {
    margin: 0px auto;
}

.btn-cerrar-modal-pago {
    cursor: pointer;
}

.c-btn-cerrar-modal-pago {
    margin: 0px auto;
    text-align: right;
}

.modal-aviso {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    z-index: 9;
}

.aviso {
    background: #fff;
    margin: 0px auto;
    border-radius: 5px;
}