*{
    padding: 0px;
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4{
    text-align: center;
}

.general{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8d8d8;
}
.cont{
    min-width: 800px;
    max-width: 800px;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
.top{
    margin-top: -40px;
    width:100%;
    margin-bottom: 40px;
}
.foot{
    width:100%;
}
.subcont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.firm{
    width:40%;
}
.parrafo{
    padding-left: 60px;
    padding-right: 60px;
    text-align: justify;
}