* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
    text-align: center;
}

.cod-ref {
    text-align: right !important;
}

.general {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8d8d8;
}

.cont {
    min-width: 800px;
    max-width: 800px;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.top {
    margin-top: -40px;
    width: 100%;
    margin-bottom: 40px;
}

.foot {
    width: 100%;
}

.subcont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.firm {
    width: 40%;
}

.parrafo {
    padding-left: 60px;
    padding-right: 60px;
    text-align: justify;
}

.t-nombre {
    width: 100%;
}

.t-nombre td {
    text-align: center;
}

.t-nombre p {
    border: 1px solid #000;
    padding: 5px;
}

.c-etiqueta {
    width: 100%;
}

.c-etiqueta {
    align-items: center;
}

.datos-generales p {
    float: left;
}

.c-bold-doc {
    background: gray;
    padding: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.c-bold-doc label {
    font-weight: bold;
}

.box {
    border: 1px solid #000;
    padding: 0px 5px 0px 5px;
    margin: 0px 5px 0px 5px;
}

.c-det-condicion {
    border: 1px solid #000 !important;
    margin-left: 50px;
    margin-right: 50px;
}

.c-fecha-doc {
    width: 100%;
    text-align: end;
    margin-right: 0px;
}

.c-mensaje-pie {
    margin-left: 50px;
    margin-right: 50px;
}

.c-t-nombre {
    margin-left: 50px;
    margin-right: 50px;
}

.nro-ref {
    padding-top: 50px;
}

.sub-tit {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-size: .75rem;
}